<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>后台管理系统</title>
</head>

<body >
<a href="{:U('index')}">列表</a>
<h3 >上传表格</h3>
<form action="{:U('index.php?/home/csv/upload_do')}" method="post"  id="form" url="" enctype="multipart/form-data">
    <input type="file" name="file" id="img">
    <input type="submit" name="上传" >
</form>

</div>
</div>
</body>
</html>
